# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sheet files
*.csv
/.vs/Opt project/v16/Browse.VC.db-shm
/.vs/Opt project/v16/Browse.VC.opendb
/.vs/Opt project/v16/Browse.VC.db-wal
*.tlog

